

{%load static%}

<!DOCTYPE html>
<html>
  <head>
    <title>Veera Konangi</title>
    <link href= "{% static '/css/main.css' %}" rel="stylesheet" type ="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  </head>
  <body>
    <br>
         <div class = "container">
          <div class = "row">
             <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                  <img id = "profile-pic" src="{% static 'images/test1.jpg' %}" >
                  <br>
                  <h4> HI I'm Veera Konangi</h4>
                  <p>Mathematics and Computer Science graduate having more than 8 years of experience in Data Science
                    and Data products. Expertise in applying SAS and Python programming for data mining and
                    predictive modeling. Work experience with Banking, Auto, Energy, Retail industry and
                    Higher education.</p>
                </div>
            </div>
            <br>
            <div class ="col-md-9">
                <div class="card card-body h-100 border-info">
                <h4> Education
                </h4>
                <br>
                <p> •	M.S., Managing Information Technology, Sullivan University, Louisville, KY.</p>
                <p>•	Master level course work completed in Econometric analysis and Mathematical modeling, Mississippi State University, Mississippi State, MS.</p>
                <p>•	B.S., Computer science, S.K University, Andhra Pradesh, India </p>

                <h4> Skills
                </h4>
                <p>Querying database, joining tables, cleaning data, grouping records, concatenating, and interleaving, updating, modifying and conditionally processing data sets. Creating tables, views, and Indexes.
                  Application of data modeling concepts, correlations, simple, multiple and logistic regression, categorical data analysis, cluster analysis, classification methods, natural language processing, deep learning, time series models,
                  optimization problems, data Analytics, statistical analysis, mathematical modeling, big data, machine-learning, project Management.
                  SAS-SQL, SAS Macros, SAS Base, Python, Pandas, NumPy, Matplotlib, Scikit-learn, PySpark, Spark-SQL, Spark MLlib, Amazon EC2 instance setup, S3, Cognos, Tableau, Power BI, HTML, CSS, Django, Advanced Excel.
                </p>
                <ul class = "social-links">
                  <li><img class="social" src="{% static 'images/facebook.jpg' %}"></li>
                  <li><img class="social" src="{% static 'images/linkedin.jpg' %}"></li>
                </ul>

                 </div>
              </div>
          </div>
          <div class = "row">
             <div class="col-md-6">
                <div class="card card-body h-100">
                  <h4> Expertise in Data applications: </h4>
                  <p></p>
                  <h5> Higher Education:</h5>
                  <p> Applied cluster analysis to identify peer group of institutions.  Institutional characteristics like enrollment, graduation, programs, student diversity, tuition and fee, facilities are utilized to model data. Query IPEDS database to pull required information. </p>
                  <p></p>
                  <h5>Oil and Gas: </h5>
                  <p>Applied time-series models to forecast sales. Identified and applied trend and seasonal factors in developing sales and inventory forecast. Developed sales dashboard for sales and inventory by tank. Utilized data from IOT sensors obtained through Kachoolie database. </p>
                </div>
            </div>

            <div class ="col-md-6">
                <div class="card card-body h-100">
                  <h5> This is another header</h5>
                  <p> This is another paragraph</p>
                </div>
              </div>
          </div>
          <br>
          <div class = "row">
             <div class="col-md-6">
                <div class="card card-body h-100">
                  <h5> This is another header</h5>
                  <p> This is another paragraph</p></div>
            </div>

            <div class ="col-md-6">
                <div class="card card-body h-100">
                  <h5> This is another header</h5>
                  <p> This is another paragraph</p>
                </div>
              </div>
          </div>
          <br>
      </div>

  </body>
</html>>
